{% load static %}
<!doctype html>
<head>
<title>Eliza (elizabot.js)</title>

<!-- JavaScript -->
<script src="{% static 'elizabot/js/elizabot.js' %}"></script>
<script src="{% static 'elizabot/js/elizadata.js' %}"></script>

<script language="JavaScript" TYPE="text/javascript">
<!--

var eliza = new ElizaBot();
var elizaLines = new Array();

var displayCols = 60;
var displayRows = 20;

function elizaReset() {
	eliza.reset();
	elizaLines.length = 0;
	elizaStep();
}

function elizaStep() {
	var f = document.forms.e_form;
	var userinput = f.e_input.value;
	if (eliza.quit) {
		f.e_input.value = '';
		if (confirm("This session is over.\nStart over?")) elizaReset();
		f.e_input.focus();
		return;
	}
	else if (userinput != '') {
		var usr = 'あなた:   ' + userinput;
		var rpl ='ELIZA: ' + eliza.transform(userinput);
		elizaLines.push(usr);
		elizaLines.push(rpl);
		// display nicely
		// (最終行を空にしてテキストエリアに合わせる-単語の折り返しによる余分な行のために予約されています)
		var temp  = new Array();
		var l = 0;
		for (var i=elizaLines.length-1; i>=0; i--) {
			l += 1 + Math.floor(elizaLines[i].length/displayCols);
			if (l >= displayRows) break
			else temp.push(elizaLines[i]);
		}
		elizaLines = temp.reverse();
		f.e_display.value = elizaLines.join('\n');
	}
	else if (elizaLines.length == 0) {
		// no input and no saved lines -> output initial
		var initial = 'ELIZA: ' + eliza.getInitial();
		elizaLines.push(initial);
		f.e_display.value = initial + '\n';
	}
	f.e_input.value = '';
	f.e_input.focus();
}

//-->
</script>
</head>

<body TOPMARGIN="0" LEFTMARGIN="0" RIGHTMARGIN="0" BOTTOMMARGIN="0" MARGINHEIGHT="0" MARGINWIDTH="0" STYLE="border:0" onload="window.setTimeout('elizaReset()',100)"><A NAME="top"></A>

    {% block content %}
    {% endblock %}

</body>
</html>